Wifi/flows.json
[
    {
        "id": "6b0e4567dacd2b84",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44c5ca8e57324c4b",
        "type": "mqtt in",
        "z": "6b0e4567dacd2b84",
        "name": "",
        "topic": "4ID3_Group3/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "06596223fc8f670f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "96ecd620e21eb4b5",
                "e8239637b9272b25"
            ]
        ]
    },
    {
        "id": "96ecd620e21eb4b5",
        "type": "debug",
        "z": "6b0e4567dacd2b84",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8239637b9272b25",
        "type": "ui_chart",
        "z": "6b0e4567dacd2b84",
        "name": "Temperature",
        "group": "55013e9f492cc958",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1a0ddf0c6b92afab",
        "type": "mqtt in",
        "z": "6b0e4567dacd2b84",
        "name": "",
        "topic": "4ID3_Group3/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "06596223fc8f670f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "71a213e8ab333679",
                "8492216fe5520efa"
            ]
        ]
    },
    {
        "id": "71a213e8ab333679",
        "type": "debug",
        "z": "6b0e4567dacd2b84",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "8492216fe5520efa",
        "type": "ui_chart",
        "z": "6b0e4567dacd2b84",
        "name": "Humidity",
        "group": "55013e9f492cc958",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "30bb105aa2c0fba2",
        "type": "mqtt in",
        "z": "6b0e4567dacd2b84",
        "name": "",
        "topic": "4ID3_Group3/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "06596223fc8f670f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "53d51987fc461b22",
                "b6cfe23cea46c00b"
            ]
        ]
    },
    {
        "id": "53d51987fc461b22",
        "type": "debug",
        "z": "6b0e4567dacd2b84",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "b6cfe23cea46c00b",
        "type": "ui_chart",
        "z": "6b0e4567dacd2b84",
        "name": "Light",
        "group": "55013e9f492cc958",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c5e228eebb296ff1",
        "type": "mqtt in",
        "z": "6b0e4567dacd2b84",
        "name": "",
        "topic": "4ID3_Group3/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "06596223fc8f670f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "eaecab0dade320ea",
                "2c83dc902ad0f7b4"
            ]
        ]
    },
    {
        "id": "eaecab0dade320ea",
        "type": "debug",
        "z": "6b0e4567dacd2b84",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "2c83dc902ad0f7b4",
        "type": "ui_chart",
        "z": "6b0e4567dacd2b84",
        "name": "Pressure",
        "group": "55013e9f492cc958",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "06596223fc8f670f",
        "type": "mqtt-broker",
        "name": "Lab2",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55013e9f492cc958",
        "type": "ui_group",
        "name": "Default",
        "tab": "b8ca77a26768c03d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8ca77a26768c03d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b721f499a4d087f6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]